@font-face {
    font-family: 'inter-bold';
    src: url('../../fonts/Inter/static/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'poppins-bold';
    src: url('../../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #f2f6f9;
}

header {
    background-color: #005f87;
    border-bottom: solid 1px black;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.8);
}

/*------ NAV ------ */
.bg-body-tertiary {
    width: 100%;
    background-color: #005f87 !important;
}

.cont-items-nav {
    width: fit-content;
}

.navbar-toggler {
    width: 60px;
    height: 60px;
    background-color: #56A7D6;

}

.img-logo {
    max-width: auto;
    height: 4rem;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.img-logo:focus,
.img-logo:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 1px 1px #57b0d9;
}

.nav-link {
    font-family: 'inter-bold';
    color: rgb(189, 189, 189);
    font-size: clamp(18px, 2vw, 32px);
    font-weight: 700;
    transition: font-size 0.3s ease;
    cursor: pointer;
}

.nav-link.active {
    font-size: clamp(18px, 2vw, 32px);
    color: white !important;
    transition: none;
    text-decoration: underline;
}

.nav-link.active:hover,
.nav-link.active:focus {
    font-size: clamp(18px, 2vw, 32px);
    color: white !important;
    text-decoration: underline;
}

.nav-link:focus,
.nav-link:hover {
    color: white !important;
    font-size: clamp(20px, 2.5vw, 36px);
}

.acceso-button {
    font-family: 'inter-bold';
    color: white !important;
    border: solid 1px white;
    font-size: 20px !important;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.acceso-button:focus,
.acceso-button:hover {
    transform: scale(1.1);
    border: solid 1px gold;

}

@media (max-width: 991px) {

    .cont-items-nav {
        width: 95%;
    }

    .img-logo {
        width: auto;
        height: 4rem;
    }

    .navbar-toggler {
        width: 4rem;
    }

}

/*------ FIN ------ */

footer {
    background-color: #009739;
    min-height: 400px;
    width: auto;
    padding: 4rem 2rem;
    gap: 5rem;
}

footer .cont-logo-copy {
    gap: 5rem;
}

footer p {
    height: fit-content;
    color: #faff00;
    font-family: 'inter-bold';
    font-size: clamp(16px, 2vw, 18px);
}

footer a {
    text-decoration: none;
}

footer div {
    height: fit-content;
}