@font-face {
    font-family: 'inter-bold';
    src: url('../../fonts/Inter/static/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'inter-semibold';
    src: url('../../fonts/Inter/static/Inter_18pt-SemiBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'inter-medium';
    src: url('../../fonts/Inter/static/Inter_18pt-Medium.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.header-seccion {
    background-color: #005f87;
    min-height: 200px;

}

.h1-seccion {
    font-family: 'inter-bold';
    font-size: clamp(28px, 2vw, 34px);
    color: white;
}

/*----------------*/

.seccion1 {
    padding: 2rem 2rem 0 2rem;
    background-color: white;
}

.h2-parte1 {
    font-family: 'inter-bold';
    font-size: clamp(20px, 2vw, 34px);
    color: black;
    max-width: 1600px;
}

/*----------------*/

.cont-parte1 {
    background-color: #005f87;
    width: fit-content;
}

.cont-h2-parte1 {
    font-family: 'inter-bold';
    font-size: clamp(20px, 2vw, 34px);
    color: white
}

.cont-p-parte1 {
    font-family: 'inter-medium';
    font-size: clamp(16px, 2vw, 20px);
    color: white;
}

/*----------------*/

.seccion2 {
    padding: 4rem 2rem;
    background-color: white;
}

.cont-carta-parte3 {
    max-width: 1000px;
}

.carta-parte3 {
    background-color: #005f87;
    max-width: 300px;
    width: 100%;
    padding: 2rem 1rem;
    box-shadow: 6px 8px 8px #545454;
    border: solid 1px #545454;
}

.p-parte3 {
    font-family: 'inter-medium';
    font-size: clamp(18px, 2vw, 20px);
    color: white;
    margin: 0 !important;
    max-height: 100px;

}

/*----------------*/

.seccion3 {
    padding: 4rem 2rem;
    background-color: #005f87;
}

.h2-parte3 {
    font-family: 'inter-bold';
    font-size: clamp(20px, 2vw, 34px);
    color: white;
}

.header-punto-parte3 {
    font-family: 'inter-semibold';
    font-size: clamp(18px, 2vw, 22px);
    color: white;
}

.contenido-header-parte3 {
    font-family: 'inter-medium';
    font-size: clamp(18px, 2vw, 22px);
    color: white;
}

/*----------------*/


.seccion4 {
    padding: 4rem 2rem;
    background-color: white;
}

.h2-parte4 {
    font-family: 'inter-bold';
    font-size: clamp(20px, 2vw, 34px);
}

.header-punto-parte4 {
    font-family: 'inter-semibold';
    font-size: clamp(18px, 2vw, 22px);
}

.contenido-header-parte4 {
    font-family: 'inter-medium';
    font-size: clamp(18px, 2vw, 22px);
}

/*----------------*/
.seccion5 {
    padding: 1rem 2rem;
    background-color: #005f87;

}

.p-parte5 {
    font-family: 'inter-medium';
    font-size: clamp(18px, 2vw, 22px);
    color: white;
}