@font-face {
    font-family: 'Lato-normal';
    src: url('../../fonts/Lato/Lato-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins-media';
    src: url('../../fonts/Poppins/Poppins-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins-normal';
    src: url('../../fonts/Poppins/Poppins-Regular.woff2') format('woff2');
}


html,
body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#fondo1 {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    background: linear-gradient(to right, #009739, #a8e6a1);
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

#fondo2 {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, #a8e6a1, #009739);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);

}

#fondo1,
#fondo2 {
    height: 40dvh;
    /* dvh se ajusta en moviles */
}

#cont-formulario {
    position: relative;
    z-index: 2;
    min-height: 100dvh;
    /* dvh se ajusta en moviles */
}

#formulario {
    width: 100%;
    max-width: 450px;
    max-height: 90dvh;
    border-color: black;
    border-radius: 1em 0 0 1em;
    background-color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 1rem;
    overflow-y: auto;
    scrollbar-width: auto;
    scrollbar-color: #fedd00 #009739;
}



#boton-registrarse {
    background-color: #00aeef;
    color: white;
    border: solid;
    border-color: gray;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 2px;
    border-radius: 0.5em;
    padding: 0.5em 0;
    font-family: 'Poppins-normal';
    font-size: 120%;
    line-height: 1.2em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-origin: center;

}

#boton-registrarse:hover {
    box-shadow: 5px 5px 5px #00aeef;
    transform: scale(1.1);

}


#icon-regresar {
    fill: #00aeef;
    width: fit-content;
    height: 3rem;

}

#boton-regresar {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white;
    z-index: 3;
    border: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 10dvi;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 2px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-origin: center;
}

#boton-regresar:hover {
    box-shadow: 5px 5px 5px #00aeef;
    transform: scale(1.1);
}


#titulo-form {
    font-family: 'Poppins-media';
    font-size: 150%;
    color: #686868;
}

#obligatorio {
    font-family: 'Poppins-media';
    font-size: 115%;
    color: red;
}

#label_pass,
#label_usuario,
#label_email,
#label_repass {
    font-family: 'Lato-normal';
    font-size: 125%;
    color: red;
}

#label_telefono,
#label_cdi {
    font-family: 'Lato-normal';
    font-size: 125%;
    color: #686868;
}

#input_usuario,
#input_pass,
#input_repass,
#input_email {
    border-radius: 0.2em 0.2em 0 0;
    font-family: 'Lato-normal';
    font-size: 110%;
    border-width: 0 0 2px 0;
    border-color: black;
    padding: 0.8em;
}

#input_telefono,
#input_cdi {
    border-radius: 0.2em 0.2em 0 0;
    font-family: 'Lato-normal';
    border-color: gray;
    font-size: 110%;
    border-width: 0 0 2px 0;
    padding: 0.5em;
}

@media (max-width: 575px) {
    #formulario {
        max-width: 80dvw;
    }

    #titulo-form,
    #obligatorio {
        font-size: 100%;
    }

    #label_pass,
    #label_usuario,
    #label_email,
    #label_repass,
    #label_telefono,
    #label_cdi {
        font-size: 100%;
    }

    #input_usuario,
    #input_pass,
    #input_repass,
    #input_email {
        padding: 0.5em;
        font-size: 100%;
    }

    #input_telefono,
    #input_cdi {
        padding: 0.3em;
        font-size: 100%;
    }

}