@font-face {
    font-family: 'montserrat-bold';
    src: url('../../fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'inter-bold';
    src: url('../../fonts/Inter/static/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'jetbrains-mono-bold';
    src: url('../../fonts/JetBrains_Mono/static/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'jetbrains-mono-medium';
    src: url('../../fonts/JetBrains_Mono/static/JetBrainsMono-Medium.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'poppins-bold';
    src: url('../../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
}

main {
    min-height: 100vh;
}

.panel-izquierdo {
    width: 30%;
    background-color: #56A7D6;

}

.panel-izquierdo .cont-titulo-left {
    height: 100%;
}

.cont-titulo-left h1 {
    font-family: 'poppins-bold';
    font-size: clamp(20px, 2vw, 36px);
    color: white;
}

.panel-izquierdo .img-logo {
    width: 80%;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
}


.panel-derecho {
    width: 70%;
    background-color: #5dbd63;
    overflow-y: auto;
}

.cont-titulo-parrafo-right {
    width: 80%;
}

.panel-derecho h2 {
    font-family: 'montserrat-bold';
    font-size: clamp(24px, 2vw, 32px);
    color: white;
}

.panel-derecho p {
    font-family: 'inter-bold';
    font-size: clamp(15px, 2vw, 24px);
    color: white;
}

.formulario {
    background-color: #8be566;
    border: solid 1px black;
    width: fit-content;
    max-width: 80%;
    box-shadow: 7px 6px 5px 3px #0dcaf036;
}

.cont-inputs {
    flex: 1 1 30rem !important;
}

.cont-inputs label {
    font-family: 'jetbrains-mono-bold';
    font-size: clamp(16px, 2vw, 18px);
    color: white;
}

.cont-inputs span {
    color: #faff00;
}

.form-control,
.form-select {
    border-radius: 10px;
    background: rgba(240, 240, 240, 0.82) !important;
    border: 1px solid black;
    font-family: 'jetbrains-mono-medium';
    font-size: clamp(16px, 2vw, 18px);
    color: black;
}

.cont-condiciones {
    width: 80%;
}

.cont-condiciones input {
    width: 24px;
    height: 24px;
    background-color: #008fd3;
    border: 1px solid #faff00;
    appearance: none !important;
    cursor: pointer;
}

.cont-condiciones input:checked::after {
    content: "✔";
    color: white;
    font-size: 18px;
    display: block;
    text-align: center;
    line-height: 24px;
}

.cont-condiciones span {
    color: white;
    font-size: clamp(14px, 2vw, 18px);
    font-family: 'jetbrains-mono-bold';
}

.cont-condiciones a {
    color: #faff00;
    font-size: clamp(14px, 2vw, 18px);
    font-family: 'jetbrains-mono-bold';
}

@media (max-width: 766px) {
    .panel-derecho {
        width: 100%;
        height: 100vh;
        justify-content: start !important;
    }
}

.cont-btns {
    width: 80%;
}

.btn-registrarse {
    background-color: #008fd3;
    font-size: clamp(14px, 2vw, 18px);
    font-family: 'montserrat-bold';
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: white;
}

.btn-login {
    background-color: transparent;
    border: solid 1px black;
    font-size: clamp(14px, 2vw, 18px);
    font-family: 'montserrat-bold';
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: white;

}

.cont-btns .btn:hover,
.cont-btns .btn:focus {
    transform: scale(1.1);
    border: solid 1px #faff00;
    color: #faff00;
    background-color: #7ed957;
}

.cont-btns .btn:active {
    background-color: #7ed957;
    color: #faff00;
}