@font-face {
  font-family: 'roboto-mono-bold';
  src: url('../../fonts/Roboto_Mono/static/RobotoMono-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
    background-color: #ececec;
}

header {
    padding: 1dvw;
    height: auto;
    background-color: #4C8CE4;
}

#icon-perfil {
    width: 50px;
    height: auto;
    border: solid #00aeef 3px;
    border-radius: 100%;
}

#icon-alerta {
    width: 50px;
    height: auto;
}

nav {
    border-radius: 1em;
    padding: 0.5em;
    border: solid black 1px;
    background-color: #91D06C;
    width: 85%;
}

.navbar-toggler {
    padding: 0.5em;
    background-color: #4C8CE4!important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 255' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.active {
    background-color: #6AB1D5;
    color: white !important;
    border-radius: 10px;
    text-decoration: underline;
    border: solid 1px white;
    width: fit-content;
    padding: 0.5rem;
}

.nav-item {
    padding: 0.2rem 0.2rem;
    font-size: larger;
  
}

.nav-link {
    color: rgb(231, 231, 231);
    width: fit-content;
    transition: all 0.3s ease;
    font-family: 'roboto-mono-bold'!important;
    font-size: clamp(15px, 16px, 20px);
    font-weight: 900;
}

.nav-link:not(.active):hover {
    background-color: #91C8E4;
    color: rgb(71, 71, 71);
    border-radius: 10px;
    border: solid 1px white;
    padding: 0.5rem;

}

.area-notifacion {
    padding: 0.5em;
    border-radius: 1em;
    width: fit-content;
    height: auto;
}

@media (min-width: 900px) and (max-width: 1100px)  {
    nav {
        font-size: 85%;
    }
}