@font-face {
  font-family: 'Lato-normal';
  src: url('../../fonts/Lato/Lato-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins-media';
  src: url('../../fonts/Poppins/Poppins-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins-normal';
  src: url('../../fonts/Poppins/Poppins-Regular.woff2') format('woff2');
}


html,body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#fondo1{
    position: absolute;
    z-index: 1;
    top: 0; 
    width: 100%; 
    background: linear-gradient(to right, #4facfe, #f5f5f5);
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

#fondo2 {
    position: absolute;
    z-index: 1;
    bottom: 0; 
    width: 100%; 
    background: linear-gradient(to right, #f5f5f5, #4facfe);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);

}

#fondo1, #fondo2 {
    height: 40dvh; /* dvh se ajusta en moviles */
}

#cont-formulario {
    position: relative;
    z-index: 2;
    min-height: 100dvh; /* dvh se ajusta en moviles */
}

#formulario {
    width: 100%;
    max-width: 450px;
    border-color: black;
    border-radius: 1em;
    background-color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 1rem;
}

#boton-login {
    background-color: #009739;
    color: #fedd00;
    border: solid;
    border-color: gray;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 2px;
    border-radius: 0.5em;
    padding: 0.5em 0;
    font-family: 'Poppins-normal';
    font-size: 120%;
    line-height: 1.2em;
    
}

#boton-google {
    border: solid;
    border-color: gray;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 2px;
    border-radius: 0.5em;
    padding: 0.5em 0;
    width:100%;
    font-family: 'Poppins-normal';
    font-size: 120%;
    line-height: 1.2em;
}
#icon-google {
    width: fit-content;
    height: 30px;
}


#titulo-form {
    font-family: 'Poppins-media';
    font-size: 150%;
    color: #686868;
}

#label_pass,#label_usuario {
    font-family: 'Lato-normal';
    font-size: 125%;
    color: #686868;
}

#input_usuario, #input_pass {
    border: solid;
    border-radius: 0.2em 0.2em 0 0;
    font-family: 'Lato-normal';
    font-size: 110%;
    border-width: 0 0 1px 0;
    padding: 1em;
}

#checkbox-recordar {
    font-family: 'Lato-normal';
    font-size: 100%;
    color: #686868;  
}

#logo-empresa {
  background-color: #fff;
  color: #00aeef;
  padding: 0.2rem 0.5rem;
  font-size: 3vh;
  font-weight: bolder;
  font-style: italic;
  border-radius: 10px;
  font-family: 'lato-negrita';
  letter-spacing: 2px;
}

@media (max-width: 575px) {
    #formulario {
        max-width: 350px;
    }

    #titulo-form {
        font-size: 100%;
    }

    #label_pass,#label_usuario {
        font-size: 100%;
    }

    #input_pass,#input_usuario {
        padding: 0.5em;
        font-size: 100%;
    }   

    #boton-google {
        font-size:95%;
    }
}