@font-face {
    font-family: 'inter-bold';
    src: url('../../fonts/Inter/static/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'inter-regular';
    src: url('../../fonts/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
main {
    height: 100%;
    width: 100%;
}

body .img-background {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.bg-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.login-container {
    position: relative;
    z-index: 1;
    background-color: #071525;
    border: solid 1px #faff00;
    box-shadow: #faff0059 6px 5px 6px 0px;
    max-width: 400px;
}

@media (max-height: 720px) {
    .login-container {
        transform: scale(0.8);
    }
}

.img-logo {
    width: 100%;
    max-width: 378px;
    object-fit: cover;
    object-position: center;
}

.divisor {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.divisor::before,
.divisor::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #ccc;
}

.bloque-superior h1 {
    font-family: 'inter-bold';
    font-size: clamp(24px, 2vw, 28px);
    color: white;
}

.bloque-superior span,
.bloque-inferior span {
    font-family: 'inter-regular';
    font-size: clamp(14px, 2vw, 16px);
    color: white;
}

.form-control {
    background-color: #223043;
    border: solid 1px #dfdfdf;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #223043 inset !important;
    -webkit-text-fill-color: #fff !important;
    background-color: transparent !important;
}

.form-control input {
    background-color: #223043 !important;
    color: white;
    font-family: 'inter-regular';
    font-size: clamp(14px, 2vw, 16x);
    width: 100%;
    border: none;
    outline: none;
}

.form-control input::placeholder {
    color: #888;
}

.form-control svg {
    width: 30px;
    height: auto;
}

.input-checkbox {
    width: 24px;
    height: 24px;
    background-color: #004aad;
    border: 1px solid white;
    appearance: none !important;
    cursor: pointer;
}

.input-checkbox:checked::after {
    content: "✔";
    color: white;
    font-size: 18px;
    display: block;
    text-align: center;
    line-height: 24px;
}

.bloque-medio-inferior span {
    color: white;
    font-family: 'inter-regular';
    font-size: clamp(14px, 2vw, 16x);
}


.bloque-medio-inferior a {
    color: #faff00;
    font-family: 'inter-regular';
    text-decoration: underline;
    font-size: clamp(14px, 2vw, 16x);
}

.bloque-medio-inferior a {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.bloque-medio-inferior a:hover {
    transform: scale(1.1);
}

.btn-login {
    background-color: #faff00;
    font-size: clamp(18px, 2vw, 22x);
    font-family: 'inter-bold';
    transition: all 0.2s ease-in-out;
    cursor: pointer;

}

.btn-login:hover,
.btn-login:focus {
    transform: scale(1.1);
    border: solid 1px #faff00;
    color: #faff00;
    background-color: #7ed957;
}

.btn-login:active {
    background-color: #7ed957;
    color: #faff00;
}

.btn-google svg {
    width: 30px;
    height: auto;
}

.btn-google {
    font-size: clamp(18px, 2vw, 22x);
    font-family: 'inter-bold';
    color: white;
    border: solid 1px white;
    font-size: 20px !important;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.btn-google:hover,
.btn-google:focus {
    transform: scale(1.1);
    border: solid 1px #faff00;
    color: #faff00;
    background-color: #7ed957;
}

.btn-google:active {
    background-color: #7ed957;
    color: #faff00;
}

.divisor-completo {
    display: flex;
    align-items: center;
    text-align: center;
}

.divisor-completo::before,
.divisor-completo::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #ccc;
}

.bloque-registro a {
    color: #faff00;
    font-family: 'inter-regular';
    text-decoration: underline;
    font-size: clamp(14px, 2vw, 16px);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.bloque-registro a:hover {
    transform: scale(1.1);
}